<div class='container'>
  <div class='row'>
    <div class="col-md-2">
      <%= render "sidebar", genres: @genres %>
    </div>
    <div class="col-md-10">
      <h4><strong>商品一覧</strong><span class="font">(全<%= @items.count %>件)</span></h4>
      <div class="row mx-auto">
        <% @items.each do |item| %>
          <%= link_to public_item_path(item.id), class: "col-3 text-center text-dark text-nowrap" do %>
            <%= image_tag item.image.variant( resize: "200x150" ) %><br>
            <%= item.name %>
            ￥<%= item.price.to_s(:delimited) %>
          <% end %>
        <% end %>
     </div>
    </div>
  </div>
</div>
